body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  margin-bottom: 10px;
  }
  
  button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  }
  
  button:hover {
  background-color: #4cae4c;
  }
  
  p {
  margin-top: 20px;
  }
  
  a {
  color: #3273dc;
  text-decoration: none;
  }
  
  a:hover {
  text-decoration: underline;
  }