<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/test.css">
    <script src="/js/script.js" defer></script>
</head>

<body>
    <header>
        <button id="hamburger" aria-label="Open navigation menu" class="hamburger">&#9776;</button>
        <nav id="nav-menu" class="nav-menu">
            <ul>
                <li><a href="/pokemon-overview">Pokemon Overview</a></li>
                <li><a href="/compare">Compare Pokemon</a></li>
                <li><a href="/guess">Guess</a></li>
                <li><a href="/battler">Battler</a></li>
                <li><a href="/owned-pokemon">Owned Pokemon</a></li>
            </ul>
        </nav>
        <div class="header-right">
            <% if (currentPokemon) { %>
                <a href="/owned-pokemon-details/<%= currentPokemon.id %>">
                    <img src="<%= currentPokemon.image %>" alt="Current Pokémon: <%= currentPokemon.nickname %>"
                        class="current-pokemon-image">
                </a>
            <% } else { %>
                <img src="/assets/question_mark.png" alt="No current Pokémon" class="current-pokemon-image">
            <% } %>
        </div>
    </header>
