<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch Pokémon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <script src="/js/script.js" defer></script>
</head>

<body>
    <header>
        <button id="hamburger" aria-label="Open navigation menu" class="hamburger">&#9776;</button>
        <nav id="nav-menu" class="nav-menu">
            <ul>
                <li><a href="/pokemon-overview">Pokemon Overview</a></li>
                <li><a href="/compare">Compare Pokemon</a></li>
                <li><a href="/guess">Guess</a></li>
                <li><a href="/battler">Battler</a></li>
            </ul>
        </nav>
    </header>
 <main class="mainMain">
        <h1>Pokemon Vergelijken</h1>
        <section class="mainarea">
            <section class="leftSection compareSection">
                <form class="selectForm">
                    <select name="leftSelect" id="pokemonSelectLeft">
                        <option value="">Pokemon Kiezen</option>
                        <option value="pikachu">Pikachu</option>
                        <option value="squirtle">Squirtle</option>
                        <option value="charmander">Charmander</option>
                    </select>
                </form>
                <figure class="comparImage" id="pokemonImageLeft">
                    <img src="" alt="Selected Pokemon" id="selectedPokemonLeft">
                </figure>
                <article class="compareInfo" id="pokemonInfoLeft">
                </article>
            </section>
            <section class="rightSection compareSection">
                <form class="selectForm">
                    <select name="rightSelect" id="pokemonSelectRight">
                        <option value="">Pokemon Kiezen</option>
                        <option value="pikachu">Pikachu</option>
                        <option value="squirtle">Squirtle</option>
                        <option value="charmander">Charmander</option>
                    </select>
                </form>
                <figure class="comparImage" id="pokemonImageRight">
                    <img src="" alt="Selected Pokemon" id="selectedPokemonRight">
                </figure>
                <article class="compareInfo" id="pokemonInfoRight">
                </article>
            </section>
        </section>
    </main>
    <footer>
        <p>&copy; <span id="currentYear"></span> Pokeverse. Alle rechten voorbehouden.</p>
    </footer>
</body>
</html>