/* Index.ejs */

.indexBody{    
  background-color: #164863;
}
.indexBody header figure{
  width: 150px;
  margin: 10px auto 10px auto;
  }

.indexBody header figure img{
width: 100%;
}
.indexBody section{
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  width: 70vw;
  margin: auto;
}

.indexBody section article{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 31%;
  margin: 10px 0 10px 0;
  border: 0;
  padding: 0;
  background-color: #427393;
  color: #ddf2fd;
}
.indexBody section article figure{
  width: 100%;
  height: 100%;
}

.indexBody section article figure img{
  width: 100%;
}

.indexBody section article figure figcaption{
  text-align: center;
  margin: 10px 0 10px 0;
}

.indexBody footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 55px 0 0 0;
  font-size: 0.8em;
  background-color: #427393;
  color: #ddf2fd;
}

@media screen and (max-width: 900px){
  .indexBody section{
      width: 90vw;
  }

  .indexBody header figure{
      width: 100px;
      margin: 10px auto 10px auto;
      }
}

@media screen and (max-width: 600px){
  .indexBody section{
      width: 70vw;
      gap: 15px;
  }

  .indexBody section article{
      width: 100%;
  }
}

/* Signup and Login */

#loginBody{
  background-image: url("/assets/login_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#loginSection{
  width: auto;
  margin: 50vh auto;
  background-color: #F2D544;
  border-radius: 5px;
  padding: 10px 30px;
  height: 130px;
  box-shadow: 10px 10px 10px #2C3740;
}

#loginSection h1{
  font-size: 2.5em;
  font-weight: bold;
  color: #2C3740;
}

#loginSection form input{
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

#loginSection p{
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #loginSection{
      display: flex;
      flex-direction: column;
      height: 270px;
      width: 80vw;
  }
  #loginSection form{
      display: flex;
      flex-direction: column;
  }
}


body{
  background: #2C3740; 
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Hamburger menu  */

.hamburger {
  background: none;
  border: 0px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000; 
}

.nav-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2C3740;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 999; 
}

.nav-menu ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin: 10px;
}

.nav-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin: 30px;
  width: 100%;
}

.nav-menu a:hover {
  color: #f1f1f1;
}

.nav-menu.open {
  width: 350px;
}

/* catch.ejs */
.pokemonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    text-decoration: none;
    list-style: none;
  }
  
  .pokemonCard {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; 
    margin: 10px;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    color: white;
  }
  
  .pokemonCard img {
    width: 50%; 
    height: auto; 
  }
  
  .pokemonInfo {
    padding: 10px;
    width: 50%; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
  }
  
  .pokemonName, .pokemonTypes {
    margin-bottom: 10px; 
  }

.searchAndFilter {
  background: #2C3740;
  padding: 1rem; 
  color: white; 
}

.searchAndFilter form {
  display: flex; 
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.searchAndFilter input[type="text"],
#searchForm select {
  padding: 0.5rem; 
  border: none; 
  border-radius: 5px; 
  font-size: 1rem;
  background-color: #2C3740;
  color: white;
  border: 1px solid #fff;
}

#searchForm input[type="text"]::placeholder {
  color: white; 
}

.searchAndFilter button {
  padding: 0.5rem 1rem; 
  border: none; 
  border-radius: 5px; 
  background: #4CAF50; 
  color: white; 
  cursor: pointer; 
}

@media (max-width: 1024px) {
    .pokemonContainer {
      grid-template-columns: repeat(2, 1fr); 
    }
    .searchAndFilter form {
      flex-direction: column; 
      align-items: center; 
  }

  .searchAndFilter input[type="text"],
  .searchAndFilter select,
  .searchAndFilter button {
      width: 90%; 
      margin-bottom: 10px; 
  }

  .searchAndFilter button {
      width: auto; 
  }
  }
  
  @media (max-width: 768px) {
    .pokemonContainer {
      grid-template-columns: 1fr; 
    }
    .searchAndFilter form {
      flex-direction: column;
  }

  .searchAndFilter input[type="text"],
  .searchAndFilter select {
      width: calc(100% - 20px); 
  }

  .searchAndFilter button {
      width: calc(100% - 20px); 
  }
  }

  button#loadMore {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* details page */

.main-title {
  text-align: center; 
  font-size: 2em; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  width: 100%; 
}

.pokemon-name, 
.stat-label, 
.evolution-name {
  text-transform: uppercase;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.pokemon-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.pokemon-image-container {
  justify-self: end; 
  max-width: 100%;
  height: auto;
}

.pokemon-info-container {
  justify-self: start; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pokemon-image {
  max-width: 100%;
  height: auto;
}

.pokemon-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.pokemon-image-and-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.pokemon-image {
  width: 300px; 
  height: auto;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemon-name {
  font-size: 2em;
  margin: 0 0 10px 0;
}

.pokemon-id,
.pokemon-type {
  font-size: 1.2em;
}

.pokemon-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pokemon-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pokemon-buttons button:hover {
  background-color: #0056b3;
}

.evolution-chain {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.evolution-chain li {
  margin: 0 15px;
}

.evolution-chain img {
  width: 150px; 
  height: auto;
}

.pokemon-evolution {
  text-align: center;
}


footer {
  text-align: center;
  margin-top: 40px;
}


.pokemon-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pokemon-stats ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-stats li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px; 
  margin-bottom: 5px;
}

.stat-label {
  text-align: left;
  color: #fff;
}

.stat-value {
  text-align: right;
  color: #fff;
}

.page-header .main-title {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {

.evolution-chain{
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

/* Pokemon compare */

.compare-form, .form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-group {
  position: relative;
  width: 100%;
  padding: 8px;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 10px 5px;  
}

/* Styles for the compare button within the form */
.compare-btn {
  align-self: center;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer; 
}

/* Styles for the suggestions dropdown */
.suggestions {
  position: absolute;
  width: 100%;
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  z-index: 10;
  display: none;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 200px;
}

.suggestions div {
  padding: 12px;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.suggestions div:hover {
  background-color: #f0f0f0;
}

/* Styles specific to Pokemon cards */
.pokemon-card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-header {
  padding: 10px;
  text-align: center;
}

.pokemon-details {
  padding: 15px;
  line-height: 1.6;
}

/* Styles for displaying Pokemon stats */
.compare-stats {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.compare-stats h3 {
  margin-bottom: 10px;
}

.compare-stats p {
  display: grid;
  grid-template-columns: auto minmax(auto, max-content);
  justify-content: space-between;
  gap: 10px;
}

.compare-stats .stat-name {
  text-align: left;
  white-space: nowrap;
}

.compare-stats .stat-value {
  justify-self: end;
  display: flex;
  gap: 5px;
}

.compare-stats .stat-value span {
  min-width: 20px;
  text-align: right;
}

.compare-stats .stat-value span:first-child {
  font-weight: bold;
}

@media (max-width: 700px) {
  main {
      flex-direction: column;
      align-items: center;
  }

  .pokemon-card {
      width: 80%;
      margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .pokemon-card {
      width: 95%;
  }
}

/* Guess.ejs */

.guess-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.guess-container {
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  background: #3C4B55;
  border-radius: 8px;
}
.silhouette {
  filter: brightness(0) invert(1);
  max-width: 500px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.message, .scoreboard {
  font-size: 20px;
  margin-top: 10px;
}
.guess-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guess-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  width: 180px;
}
.guess-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.guess-submit-button {
  background-color: #4CAF50;
  color: #fff;
}
.skip-button {
  background-color: #f44336;
  color: #fff;
}
.autocomplete-list {
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: 180px;
  border: 1px solid #999;
  display: none;
}
.autocomplete-item {
  cursor: pointer;
  padding: 5px;
  color: black;
}
.autocomplete-item:hover {
  background-color: #eee;
}

@media screen and (max-width: 768px) {
  .guess-container {
      padding: 15px;
      width: 90%;
  }

  .silhouette {
      max-width: 300px;
  }

  h1 {
      font-size: 1.8em;
      margin-bottom: 15px;
  }

  .guess-form {
      flex-direction: column;
      align-items: stretch;
      gap: 5px;
  }

  .guess-input {
      width: 95%;
  }

  .guess-button {
      width: 100%;
      margin-right: 0;
  }

  .autocomplete-list {
      width: 100%;
  }

  .scoreboard {
      font-size: 16px;
  }
}