body{
  background: #2C3740; 
  color: #fff;
}

/* Hamburger menu */

.hamburger {
  background: none;
  border: 0px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  position: fixed; 
  top: 10px; 
  left: 10px; 
  z-index: 2; 

}

.nav-menu {
  height: 100%; 
  width: 0; 
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #2C3740; 
  overflow-x: hidden; 
  transition: 0.5s; 
  padding-top: 60px; 
}

.nav-menu ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin: 10px;
}

.nav-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin: 30px;
  width: 100%;
}

.nav-menu a:hover {
  color: #f1f1f1;
}

.nav-menu.open {
  width: 350px; 
}

/* catch.ejs */
.pokemonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    text-decoration: none;
    list-style: none;
  }
  
  .pokemonCard {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; 
    margin: 10px;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    color: white;
  }
  
  .pokemonCard img {
    width: 50%; 
    height: auto; 
  }
  
  .pokemonInfo {
    padding: 10px;
    width: 50%; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
  }
  
  .pokemonName, .pokemonTypes {
    margin-bottom: 10px; 
  }

.searchAndFilter {
  background: #2C3740;
  padding: 1rem; 
  color: white; 
}

.searchAndFilter form {
  display: flex; 
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.searchAndFilter input[type="text"],
#searchForm select {
  padding: 0.5rem; 
  border: none; 
  border-radius: 5px; 
  font-size: 1rem;
  background-color: #2C3740;
  color: white;
  border: 1px solid #fff;
}

#searchForm input[type="text"]::placeholder {
  color: white; 
}

.searchAndFilter button {
  padding: 0.5rem 1rem; 
  border: none; 
  border-radius: 5px; 
  background: #4CAF50; 
  color: white; 
  cursor: pointer; 
}

@media (max-width: 1024px) {
    .pokemonContainer {
      grid-template-columns: repeat(2, 1fr); 
    }
    .searchAndFilter form {
      flex-direction: column; 
      align-items: center; 
  }

  .searchAndFilter input[type="text"],
  .searchAndFilter select,
  .searchAndFilter button {
      width: 90%; 
      margin-bottom: 10px; 
  }

  .searchAndFilter button {
      width: auto; 
  }
  }
  
  @media (max-width: 768px) {
    .pokemonContainer {
      grid-template-columns: 1fr; 
    }
    .searchAndFilter form {
      flex-direction: column;
  }

  .searchAndFilter input[type="text"],
  .searchAndFilter select {
      width: calc(100% - 20px); 
  }

  .searchAndFilter button {
      width: calc(100% - 20px); 
  }
  }

  button#loadMore {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* details page */
.main-title {
  text-align: center; 
  font-size: 2em; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  width: 100%; 
}

.pokemon-name, .stat-label, figcaption {
  text-transform: uppercase;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.pokemon-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.pokemon-image-container {
  justify-self: end; 
  max-width: 100%;
  height: auto;
}

.pokemon-info-container {
  justify-self: start; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pokemon-image {
  max-width: 100%;
  height: auto;
}

.pokemon-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.pokemon-image-and-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.pokemon-image {
  width: 300px; 
  height: auto;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemon-name {
  font-size: 2em;
  margin: 0 0 10px 0;
}

.pokemon-id,
.pokemon-type {
  font-size: 1.2em;
}

.pokemon-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pokemon-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pokemon-buttons button:hover {
  background-color: #0056b3;
}

.evolution-chain {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.evolution-chain li {
  margin: 0 15px;
}

.evolution-chain img {
  width: 150px; 
  height: auto;
}

.pokemon-evolution {
  text-align: center;
}


footer {
  text-align: center;
  margin-top: 40px;
}


.pokemon-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pokemon-stats ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-stats li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px; 
  margin-bottom: 5px;
}

.stat-label {
  text-align: left;
  color: #fff;
}

.stat-value {
  text-align: right;
  color: #fff;
}

.page-header .main-title {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Responsive design */
@media (max-width: 768px) {

.evolution-chain{
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

