.pokemonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
  }
  
  .pokemonCard {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; 
    margin: 10px;
    overflow: hidden;
  }
  
  .pokemonCard img {
    width: 50%; 
    height: auto; 
  }
  
  .pokemonInfo {
    padding: 10px;
    width: 50%; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
  }
  
  .pokemonName, .pokemonTypes {
    margin-bottom: 10px; 
  }

.searchAndFilter {
  background: #2C3740; 
  padding: 1rem; 
  color: white; 
}

.searchAndFilter form {
  display: flex; 
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.searchAndFilter input[type="text"] {
  padding: 0.5rem; 
  border: none; 
  border-radius: 5px; 
  font-size: 1rem;
}

.searchAndFilter select {
  padding: 0.5rem;
  border: none; 
  border-radius: 5px; 
  background: #f3f3f3; 
  color: #333; 
}

.searchAndFilter button {
  padding: 0.5rem 1rem; 
  border: none; 
  border-radius: 5px; 
  background: #4CAF50; 
  color: white; 
  cursor: pointer; 
}

@media (max-width: 1024px) {
    .pokemonContainer {
      grid-template-columns: repeat(2, 1fr); 
    }
    .searchAndFilter form {
      flex-direction: column; 
      align-items: center; 
  }

  .searchAndFilter input[type="text"],
  .searchAndFilter select,
  .searchAndFilter button {
      width: 90%; 
      margin-bottom: 10px; 
  }

  .searchAndFilter button {
      width: auto; 
  }
  }
  
  @media (max-width: 768px) {
    .pokemonContainer {
      grid-template-columns: 1fr; 
    }
    .searchAndFilter form {
      flex-direction: column;
  }

  .searchAndFilter input[type="text"],
  .searchAndFilter select {
      width: calc(100% - 20px); 
  }

  .searchAndFilter button {
      width: calc(100% - 20px); 
  }
  }

  button#loadMore {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
